.range-slider__thumb {
  background-color: black !important;
  border: 2px solid black !important;
  width: 16px !important;
  height: 18px !important;
  border-radius: 9999px;
}

.range-slider__range {
  background-color: black !important;
}

.range-slider__track {
 .range-slider__track {
  background-color: #e5e7eb !important; /* Tailwind gray-200 */
  height: 3px !important; /* thinner background line */
  top: 50% !important;
  transform: translateY(-50%) !important;
}
}
